.App {
  text-align: center;
}

.App-header {
  background-color: #FFF6A1;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

table.Table {
  border: 1px solid #000000;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.Table td, table.Table th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.Table tbody td {
  font-size: 13px;
}
table.Table tr:nth-child(even) {
  background: #D0E4F5;
}
table.Table thead {
  background: #DE1B64;
  background: -moz-linear-gradient(top, #e6548b 0%, #e13173 66%, #DE1B64 100%);
  background: -webkit-linear-gradient(top, #e6548b 0%, #e13173 66%, #DE1B64 100%);
  background: linear-gradient(to bottom, #e6548b 0%, #e13173 66%, #DE1B64 100%);
  border-bottom: 2px solid #444444;
}
table.Table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #ED1D6B;
}
table.Table thead th:first-child {
  border-left: none;
}

table.Table tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  background: #B0C1D0;
  background: -moz-linear-gradient(top, #c4d0dc 0%, #b8c7d4 66%, #B0C1D0 100%);
  background: -webkit-linear-gradient(top, #c4d0dc 0%, #b8c7d4 66%, #B0C1D0 100%);
  background: linear-gradient(to bottom, #c4d0dc 0%, #b8c7d4 66%, #B0C1D0 100%);
  border-top: 2px solid #444444;
}
table.Table tfoot td {
  font-size: 12px;
}
table.Table tfoot .links {
  text-align: right;
}
table.Table tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.pos{
  margin: 50px 200px 50px 200px;
  text-align: center;
}

#search, #btn_search {
margin: 0px 0px 10px 0px;
  text-align: left;
}
button img{
  height: 20px;
  width: 20px;
}

#plus{
  text-align: right;
}

.image{
  height: 100px;
  width: 200px;
}